#root {
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

.canvas-container{
  display: flex;
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}